<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bebe Peng</title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="<%= url('css/default.css') %>"/>
  <link rel="stylesheet" type="text/css" href="<%= url('css/multilevelmenu.css') %>"/>
  <link rel="stylesheet" type="text/css" href="<%= url('css/component.css') %>"/>
  <link rel="stylesheet" type="text/css" href="<%= url('css/animations.css') %>"/>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <script src="../js/modernizr.custom.js"></script>
</head>
<body>
<div class="codrops-top clearfix">
  <a class="codrops-icon codrops-icon-prev" id="iterateEffectsBack" href="javascript: void(0);"><span>Previous page</span></a>
  <span class="right"><a id="iterateEffects" href="javascript: void(0);"><span>Next Page<span class="codrops-icon codrops-icon-next"></span></span></a></span>
</div>

<div id="pt-main" class="pt-perspective">
  <div class="pt-page pt-page-1"><h1><strong>Bebe</strong>Peng<span>Web Developer</span></h1>

    <div class="page-content">
      <h2><strong>About Bebe</strong></h2>

      <p>As a graduate of gSchool I will have had 6 months of intensive training in programming, agile workflows,
        pairing, and test driven development. As an engineer, I am able to narrow down problems efficiently and
        apply what I know to solve them. Most importantly, I highly value building well organized, maintainable
        code, and reliable software.
      </p>

      <h2><strong>Project Examples</strong></h2>

      <div>
        <div>Listen To – <a href="https://github.com/bebepeng/listen_to">https://github.com/bebepeng/listen_to</a></div>
        <p class="small">A quantitative way of sharing with people what you enjoy listening to.</p>

        <p class="small">I built this app to gain a broad experience of everything from SQL to web services to CSS.</p>
      </div>
      <br>

      <div>
        <div>Fair Pair – <a href="https://github.com/bebepeng/fair-pair">https://github.com/bebepeng/fair-pair</a></div>
        <p class="small">A tool to help you solve some of your pairing issues.</p>

        <p class="small">I designed this app to dive more deeply into building a single-page javascript application.</p>
      </div>
      <br>
    </div>
  </div>

  <div class="pt-page pt-page-3"><h1><strong>Bebe</strong>Peng<span>Web Developer</span></h1>

    <div class="page-content">
      <h2><strong>Education</strong></h2>

      <div>
        <div>gSchool by Galvanize; Boulder, CO – 2014</div>
        <ul class="small">
          <li> 6 month full stack web development course</li>
          <li> Proficiency in: Ruby, Ruby-on-Rails, Sinatra, Javascript, jQuery, HTML, CSS, PostgreSQL, Rspec,
            GitHub, Heroku, TDD
          </li>
        </ul>
      </div>

      <div>
        <div>University of Virginia; Charlottesville, VA – Mechanical Engineering, 2012</div>
      </div>

      <h2><strong>Work Experience</strong></h2>

      <div>
        <div>Nuclear Engineer, Huntington Ingalls Industries; Newport News, VA – 2012–2014</div>
        <ul class="small">
          <li>Directed and oversaw dockside and shipboard nuclear reactor defueling operations for the USS
            Enterprise.
          </li>
          <li>Provided technical support for nuclear refueling cranes and support equipment.</li>
        </ul>
      </div>
      <div>
        <div>Technician Aid, Naval Surface Warfare Center Carderock Division; Bethesda, MD – 2010</div>
        <ul class="small">
          <li>Digitized submarine simulator blue prints using drawing tools such as Solid Works and CAD.</li>
          <li>Worked on submarine simulator panel interface for touch screen monitors.</li>
        </ul>
      </div>
      <br>
    </div>
  </div>

  <div class="pt-page pt-page-5"><h1><strong>Bebe</strong> Peng<span>Web Developer</span></h1>

    <div class="page-content">

      <div class="contact-info">
        <h2><strong>Contact Info</strong></h2>

        <div>
          <a href="mailto:bebepeng@gmail.com"><img src="<%= url('images/email.png') %>"></a>
          <a href="https://www.linkedin.com/pub/beatrice-peng/46/b0b/626"><img src="<%= url('images/linkedin.png') %>"></a>
          <a href="http://www.github.com/bebepeng"><img src="<%= url('images/github.png') %>"></a>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<div class="pt-message">
  <p>Your browser does not support CSS animations.</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="<%= url('/js/pagetransitions.js') %>"></script>
<script src="<%= url('/js/jquery.dlmenu.js') %>"></script>
</body>
</html>
